QMenuBar {
    color: white;
    background-color: rgb(41, 40, 46);
}

QMenuBar::item:selected {
    background-color: rgb(67, 68, 75);
}

QMenu{
    color: white;
    background-color: rgb(32, 33, 33);
}

QMenu::item:selected {
    background-color: rgb(67, 68, 75);
}

QStatusBar {
    color: white;
    background-color: rgb(41, 40, 46);
}

QLabel {
    color: white;
    background-color: rgb(41, 40, 46);
}